*.pem
*.swp
*.beam
*.txt
*.vim
dev.config
log/*
TAGS
erl_crash.dump
.DS_Store
*.script
*.boot
priv/www/*.js*
priv/www/*.dart
ui/.dart_tool/
ui/.packages
ui/lib/app.js*
ui/js/app.js*
priv/www/
