*.pem
*.swp
*.beam
*.txt
*.vim
dev.config
werl
log/*
TAGS
erl_crash.dump
.DS_Store
*.script
*.boot
priv/www/*.js
priv/www/*.map
priv/www/app.dart
priv/www/app.js.deps
ui/.dart_tool/
ui/.packages
ui/lib/app.js*
